#main-nav-container {
  min-height: 70px;
  padding: 15px 20px;
}

#main-nav-container-fluid {
  padding: 0;
}

.nav-logo-text {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.nav-logo-text,
.nav-logo-text:hover {
  margin: 0;
  color: #00285f;
}

.main-menu {
  display: flex;
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
}

.main-menu a {
  color: #00285f;
  text-decoration: none;
}

.main-menu a:hover {
  color: #fff;
}
