#main-nav-container {
  min-height: 70px;
  padding: 15px 20px;
}

#main-nav-container-fluid {
  padding: 0;
}

.nav-logo-text h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;  
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  text-decoration: none;  
}

#dscarrostop-navbar {
  justify-content: flex-end;
}

.main-menu {
  display: flex;
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
}

.main-menu a.active {
  font-weight: 700;
}

.main-menu a {
  color: #00285f;
  text-decoration: none;
}

.main-menu a:hover {
  color: #fff;
}


@media (min-width: 1280px) {
  #main-nav-container {
    padding-left: 150px;
    padding-right: 150px;
  }  
}